@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Danh sách Users";
}
<div>
    <h3>Danh sách các Users</h3>
    <table class="table">
        <thead>
            <tr>
                <th class="align-middle">
                    @Html.DisplayNameFor(m => m.UserName)
                </th>
                <th class="align-middle">
                    @Html.DisplayNameFor(m => m.FullName)
                </th>
                <th class="align-middle">
                    @Html.DisplayNameFor(m => m.Email)
                </th>
                <th>
                    Role
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.FullName</td>
                    <td>@user.Email</td>
                    @foreach (var item in user.UserRoles)
                    {
                        <td>@item.Role.Name</td>
                    }

                </tr>
            }
        </tbody>
    </table>
</div>