@model IEnumerable<Order>
@{
    ViewData["Title"] = "Hàng của bạn";
    int count = 0;
}
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<div class="col-md-8 offset-2">
    <h3>Danh sách hàng đã mua</h3>
    <table class="table">
        <thead>
            <tr>
                <th>STT</th>
                <th>OrderID</th>
                <th class="align-middle">Item</th>
                <th class="align-middle">Tổng Cộng</th>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <th>User Name</th>
                    <th>Info</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var order_id in Model)
            {
                <tr>
                    <td class="align-middle" @{count++;}>
                        @count
                    </td>
                    <td class="align-middle">@order_id.Id</td>
                    <td class="align-middle">
                        <ol class="p-3">
                            @foreach (var order_id_orderitem in order_id.orderItems)
                            {
                                <li>
                                    <div>
                                        <span>@order_id_orderitem.Movie.FullName-@order_id_orderitem.Movie.Price-@order_id_orderitem.so_luong</span>
                                    </div>
                                </li>
                            }
                        </ol>
                    </td>
                    <td class="align-middle">
                        @order_id.orderItems.Select(m => m.Price * m.so_luong).Sum()
                    </td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <td class="align-middle">@order_id.user.FullName</td>
                        <td class="align-middle">
                            <a asp-controller="Account" asp-action="Info" asp-route-email="@order_id.user.Email">
                                @order_id.user.Email
                            </a>
                        </td>
                    }
                </tr>
            }

        </tbody>
        <tfoot>
            <tr>
                <td colspan="2"></td>
                <td><b>Total: </b>: </td>
                <td>@Model.Select(m => m.orderItems.Select(n => n.so_luong * n.Price).Sum()).Sum()</td>
            </tr>

    </table>

</div>