
@model List<IGrouping<(string, string, string), (string, string, double, int)>>
@{
    ViewData["Title"] = "Hàng của bạn";
    int count = 0;
    double sum1 = 0;
    double sum2 = 0;
}
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<div class="col-md-12">
    <h3>Liệt kê tổng kh đã mua</h3>
    <table class="table">
        <thead>
            <tr class="align-middle">
                <th class="align-middle" rowspan="2">STT</th>
                <th class="align-middle" rowspan="2">Name</th>
                <th class="align-middle" rowspan="2">Email</th>
                <th class="align-middle" rowspan="2">Role</th>
                <th class="align-middle" colspan="4">Item</th>
                <th class="align-middle">Tổng Cộng</th>
            </tr>
            <tr>
                <th>Order_id</th>
                <th>Movie Name</th>
                <th>Price</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order_id in Model)
            {
                <tr>
                    <td class="align-middle" @{count++;}>
                        @count
                    </td>
                    <td class="align-middle">@order_id.Key.Item1</td>
                    <td class="align-middle">@order_id.Key.Item2</td>
                    <td class="align-middle">@order_id.Key.Item3</td>
                    <td class="align-middle" colspan="4">
                        <ol style="list-style-type:none;">
                            @foreach (var or in order_id)
                            {
                                <li>
                                    <div>@or.Item1- @or.Item2- @or.Item2-@or.Item3-@or.Item4</div>
                            
                                </li>
                                sum2 += or.Item3 * or.Item4;
                                sum1 += or.Item3 * or.Item4;

                            }
                        </ol>
                    </td>
                    <td class="align-middle">
                        @sum1
                    </td>
                </tr>
                sum1 = 0;
            }

        </tbody>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td><b>Total: </b>: </td>
                <td>@sum2</td>
            </tr>
    </table>
</div>