@model IEnumerable<Cinema>

@{
    ViewData["Title"] = "List of Cinemas-eTicket";

}
<div class="row">
    <div class="col-md-9 offset-md-2">
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Logo)</th>
                    <th>@Html.DisplayNameFor(m => m.Name)</th>
                    <th>@Html.DisplayNameFor(m => m.Description)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle" src="@item.Logo" style="max-width:120px" />
                        </td>
                        <td class="align-middle">
                            @item.Name

                        </td>
                        <td class="align-middle">
                            @item.Description
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-outline-primary"><i class="bi bi-pencil-square mr-1"></i>Edit</a>
                            <a class="btn btn-outline-info"><i class="bi bi-eye mr-1"></i>Detail</a>|
                            <a class="btn bg-danger"><i class="bi bi-trash2"></i>Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
